@import "~styles/variables";

.sidebar {
  width: $sidebar-width;
}

.sidebarOpen {
  width: $sidebar-open-width;
}

.nav {
  list-style: none;
}

.link {
  width: $sidebar-width;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: map-get($gray, '1000');
  text-decoration: none;
  background-color: $sidebar;
}

.linkOpen {
  width: $sidebar-open-width;
}

.linkIcon {
  height: 30px;
  width: 30px;
}

.active {
  background-color: $sidebar-active;
  color: map-get($gray, '1500');

  &:before {
    content: '';
    width: 5px;
    height: 60px;
    background-color: $primary;
    position: absolute;
    left: 0;
  }
}