@import "~styles/variables";

.nav {
  list-style: none;
}

.link {
  width: 70px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkIcon {
  height: 30px;
  width: 30px;
}

.active {
  background-color: $sidebar-active;

  &:before {
    content: '';
    width: 5px;
    height: 60px;
    background-color: $primary;
    position: absolute;
    left: 0;
  }
}