@import "~styles/variables";

.sidebar {
  width: $sidebar-width;
  background-color: $sidebar;
  height: 100vh;
  transition: width 0.5s;
  overflow: hidden;
}

.sidebarOpen {
  width: $sidebar-open-width;
}

.nav {
  list-style: none;
}

.link {
  height: 60px;
  width: $sidebar-open-width;
  display: flex;
  align-items: center;
  color: map-get($gray, '1000');
  text-decoration: none;
}

.linkIcon {
  width: $sidebar-width;
  text-align: center;
  padding-top: 0.5rem;
}

.icon {
  height: 30px;
  width: 30px;
}

.active {
  background-color: $sidebar-active;
  color: map-get($gray, '1500');

  &:before {
    content: '';
    width: 5px;
    height: 60px;
    background-color: $primary;
    position: absolute;
    left: 0;
  }
}

.linkContent {
  flex: 1;
}
