@import "~styles/variables";

.button {
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  height: 4rem;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  zoom: 1;
  font-size: map_get($fontSizes, '14');
  padding: 6px 12px;
  border-radius: 2px;
  width: 100%;
}

.primary {
  background-color: $primary;
  color: map_get($gray, '1500');
}