$icons-root: '~assets/images/icons/icon-';

.icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-hamburger {
  background-image: url('#{$icons-root}hamburger.png');
}

.icon-logout {
  background-image: url('#{$icons-root}logout.png');
}

.icon-email {
  background-image: url('#{$icons-root}email.png');
}

.icon-email-solid {
  background-image: url('#{$icons-root}email-solid.png');
}

.icon-dashboard {
  background-image: url('#{$icons-root}dashboard.png');
}

.icon-layouts {
  background-image: url('#{$icons-root}layouts.png');
}

.icon-graphs {
  background-image: url('#{$icons-root}graphs.png');
}

.icon-mailbox {
  background-image: url('#{$icons-root}mailbox.png');
}

.icon-metrics {
  background-image: url('#{$icons-root}metrics.png');
}

.icon-widgets {
  background-image: url('#{$icons-root}widgets.png');
}

.icon-forms {
  background-image: url('#{$icons-root}forms.png');
}

.icon-app-views {
  background-image: url('#{$icons-root}app-views.png');
}

.icon-forms {
  background-image: url('#{$icons-root}forms.png');
}

.icon-inbox {
  background-image: url('#{$icons-root}inbox.png');
}

.icon-send-mail {
  background-image: url('#{$icons-root}send-mail.png');
}

.icon-important {
  background-image: url('#{$icons-root}important.png');
}

.icon-drafts {
  background-image: url('#{$icons-root}drafts.png');
}

.icon-trash {
  background-image: url('#{$icons-root}trash.png');
}

.icon-tag {
  background-image: url('#{$icons-root}tag.png');
}

.icon-logo {
  background-image: url('#{$icons-root}logo.png');
}

.icon-arrow-down {
  background-image: url('#{$icons-root}arrow-down.png');
}

.icon-attachment {
  background-image: url('#{$icons-root}attachment.png');
}

.icon-bell {
  background-image: url('#{$icons-root}bell.png');
}

.icon-arrow-left {
  background-image: url('#{$icons-root}arrow-left.png');
}