$icons-root: '~assets/images/icons/';

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-hamburger {
  background-image: url('#{$icons-root}icon-hamburger.png');
}

.icon-logout {
  background-image: url('#{$icons-root}icon-logout.png');
}

.icon-email {
  background-image: url('#{$icons-root}icon-email.png');
}

.icon-email-solid {
  background-image: url('#{$icons-root}icon-email-solid.png');
}

.icon-dashboard {
  background-image: url('#{$icons-root}icon-dashboard.png');
}

.icon-layouts {
  background-image: url('#{$icons-root}icon-layouts.png');
}

.icon-graphs {
  background-image: url('#{$icons-root}icon-graphs.png');
}

.icon-mailbox {
  background-image: url('#{$icons-root}icon-mailbox.png');
}

.icon-metrics {
  background-image: url('#{$icons-root}icon-metrics.png');
}

.icon-widgets {
  background-image: url('#{$icons-root}icon-widgets.png');
}

.icon-forms {
  background-image: url('#{$icons-root}icon-forms.png');
}

.icon-app-views {
  background-image: url('#{$icons-root}icon-app-views.png');
}