html {
  background: map-get($gray, '1400');
  font-size: 62.5%;
}

body {
  font-size: map_get($fontSizes, '14');
  color: map-get($gray, '600');
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.8px;
}

h1 {
  font-size: map_get($fontSizes, '24');
}

h4 {
  font-size: map_get($fontSizes, '14');
}

strong {
  font-weight: 500;
}

.flex {
  display: flex;
}
