// colors
$primary: #19a689;
$sidebar: #2f4050;
$sidebar-active: #293846;
$mountain-meadow: #1bb394;
$flamingo: #ef5352;
$pelorous: #1c84c6;
$egg-blue: #23c6c8;
$texas-rose: #f8ac59;

$gray: (
        '1500': #ffffff,
        '1400': #f3f3f3,
        '1300': #e2e2e2,
        '1000': #a1acbc,
        '600': #666666,
);

//typography
$fontSizes: (
        '10': 1rem,
        '12': 1.2rem,
        '14': 1.4rem,
        '16': 1.6rem,
        '24': 2.4rem
);

$sidebar-width: 70px;
$sidebar-open-width: 200px;
