// colors
$primary: #19a689;
$sidebar: #2f4050;
$sidebar-active: #293846;

$gray: (
        '1500': #ffffff,
        '1530': #f3f3f3,
        '1420': #e2e2e2,
        '1000': #a1acbc,
        '666': #666666,
);

//typography
$fontSizes: (
        '10': 1rem,
        '12': 1.2rem,
        '14': 1.4rem,
        '16': 1.6rem
);

$sidebar-width: 70px;
$sidebar-open-width: 200px;
