@import "~styles/variables";

.listItem {
  border-bottom: 1px solid map-get($gray, '1300');
}

.emailRow {
  padding: 0 2rem;
  height: 4rem;
}

.unread {
  background-color: map-get($gray, '1400');;
  font-weight: bold;
}

.category {
  padding: 0.2rem 1rem 0.3rem;
  color: map-get($gray, '1500');
  font-size: map-get($fontSizes, '10');
  border-radius: 0.3rem;
  margin-right: 1rem;
}

.work {
  background-color: $mountain-meadow;
}

.documents {
  background-color: $flamingo;
}

.social {
  background-color: $pelorous;
}

.advertising {
  background-color: $egg-blue;
}

.clients {
  background-color: $texas-rose;
}

.icon {
  height: 3rem;
  width: 3rem;
}