@import "~styles/variables";

.input {
  display: none;
}

.label {
  width: 20px;
  height: 20px;
  background: map-get($gray, '1500');
  border: 1px solid map-get($gray, '1300');
}

.input:checked + label {
  background: url('../../assets/images/icons/icon-checkbox-checked.png');
  background-size: contain;
}

